.leaflet-popup-content-wrapper {
  background-color: #ffffff; /* Fondo blanco */
  color: #333333; /* Texto en color negro */
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 2px; /* Espacio interno */
  border-radius: 10%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilo del título del popup */
.leaflet-popup-content-wrapper h3 {
  font-size: 16px;
  margin: 0 0 5px;
}

/* Estilo del contenido del popup */
.leaflet-popup-content-wrapper p {
  margin: 0;
}

/* Estilo del botón de cierre del popup */
.leaflet-popup-close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999999;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* Estilo del botón de cierre al pasar el cursor */
.leaflet-popup-close-button:hover {
  color: #333333;
}


.leaflet-control-scale {
  background-color: #f0f0f0 !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding: 5px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
}

/* Modificar el estilo del texto de la escala */
.leaflet-control-scale-line {
  color: #333;
}

.leaflet-control-layers {
  background-color: #93b5ff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

/* Modificar el estilo de la lista de capas */
.leaflet-control-layers-list {
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
}

.leaflet-control-layers-list input[type="checkbox"] {
  /* Cambia el tamaño a los valores que desees */
  width: 20px;
  height: 20px;
}

/* Modificar el estilo de los elementos de la lista */
.leaflet-control-layers-list label {
  display: block;
  margin-bottom: 5px;
}

/* Modificar el estilo del botón de selección de capa base */
.leaflet-control-layers-toggle {
  width: 40px;
  height: 40px;
  background-color: #93b5ff;
  padding: 5px;
  background-image: url(imgs/layer-group-solid.svg);
}

.language-control {
  position: relative;
  display: inline-block;
  background-color: #93b5ff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 6rem; /* Ajusta el ancho según tu preferencia */
}

/* Estilo del elemento select */
.language-control select {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none; /* Elimina el estilo del icono en Chrome */
  -moz-appearance: none; /* Elimina el estilo del icono en Firefox */
  appearance: none; /* Elimina el estilo del icono en otros navegadores */
}

/* Estilo de las opciones del select */
.language-control select option {
  background-color: #93b5ff;
  color: #000;
}

/* Estilo de la flecha personalizada */
.language-control::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Evita que el usuario interactúe con la flecha */
}

.village-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: rgb(54, 54, 185); /* Puedes cambiar el color del círculo aquí */
    cursor: pointer; /* Cambia el cursor al pasar por encima para indicar que es interactivo */
    transition: background-color 0.3s; /* Agrega una transición para suavizar el cambio de color */
  }
  
  /* Estilo para el marcador cuando se pasa el ratón por encima */
.village-marker:hover {
    background-color: rgb(92, 92, 190); /* Cambia el color del círculo al pasar el ratón por encima */
}

.city-marker {
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: rgb(197, 37, 37); /* Puedes cambiar el color del círculo aquí */
    cursor: pointer; /* Cambia el cursor al pasar por encima para indicar que es interactivo */
    transition: background-color 0.3s; /* Agrega una transición para suavizar el cambio de color */
  }
  
  /* Estilo para el marcador cuando se pasa el ratón por encima */
.city-marker:hover {
    background-color: rgb(180, 81, 81); /* Cambia el color del círculo al pasar el ratón por encima */
}